body{
  margin:0;
}

/* MENU*/
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    padding: 1px 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
.menu a{
    color: cyan;
    text-decoration: none;
}
/* TITULO INICIAL DA PAGINA */
.Titulo{
 display: flex;
 align-items: center;
 justify-content: center;
 background: linear-gradient(to left, #6e8fc2, #40eff5);
 background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 font-size: 80px;
}
/*LOGIN DA PAGINA*/
main{
  display: flex;
  align-items: center;
  justify-content: center; 
}

/*LOGIN SECUNDARIO ENTRANDO COM E-MAIL E SENHA*/
.login_secundario{
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 15px;
  border: 1px solid;
  justify-content:center;
  align-items: center;
  border-radius: 5px;
}
input{
  margin: 5px 0px;
  height: 15px;
  padding: 1px;
}
button{
  height: 35px;
  margin: 5px 0px;
  background-color: #40eff5;
  border: none;
  border-radius: 5px;
  color: black;
}
button:hover{
  background-color: black;
  color: aqua;
}
/*CRIADOR FINAL DA PAGINA*/
.criador{
  float:center;
  background: #111;
  padding: 0,5% 30px;
}
.autor{
  color: rgb(6, 242, 250);
  font-size: medium;
  font-weight: bold;
}
.autor2{
  color: rgb(6, 242, 250);
  font:bold;
  font-size: medium;
}